<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
<div class="panel panel-default">
  <div class="footer panel-body">
    <a class="" href="https://github.com/mukipuz/mukipayz"><i class="fa fa-github" aria-hidden="true"></i>  GitHub</a>
    <a class="middle" href="EMAIL"><i class="fa fa-envelope" aria-hidden="true"></i>  Email Us (Help)</a>
    <a class="right" href="https://www.dwolla.com/"><i class="fa fa-usd" aria-hidden="true"></i>  Dwolla</a>
  </div>
</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
</body>
</div>
</html>
ss
