
<div class="col-md-12">
    <div class="footer panel panel-default">
        <div class="panel-body">
            <a class="pull-right footer-item" href="https://github.com/mukipuz/mukipayz">
                <i class="fa fa-github" aria-hidden="true"></i>
                GitHub</a>
            <a class="pull-right footer-item" href="mailto:mukipayz@gmail.com?subject=Mukipayz!">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                Email Us (Help)</a>
            <a class="pull-right footer-item" href="https://www.dwolla.com/">
                <i class="fa fa-usd" aria-hidden="true"></i>
                Dwolla</a>
        </div>
    </div>
</div>
