<div class="row">
    <div class="col-md-12">
        <div class="footer panel panel-default">
            <div class="panel-body">
                <a class="pull-right footer-item" href="https://github.com/mukipuz/mukipayz">
                    <i class="fa fa-github" aria-hidden="true"></i>
                    GitHub</a>
                <a class="pull-right footer-item" href="EMAIL">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    Email Us (Help)</a>
                <a class="pull-right footer-item" href="https://www.dwolla.com/">
                    <i class="fa fa-usd" aria-hidden="true"></i>
                    Dwolla</a>
            </div>
        </div>
    </div>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="/js/menu.js" charset="utf-8"></script>
</body>
</div>
</html>
