<nav class="navbar">
    <div class="container-fluid container">
        <div class="navbar-header navbar-fixed-top navbar-inverse">
            <a class="navbar-brand font1" href="/">Mukipayz</a>
        </div>
    </div>
</nav>
