<nav class="navbar">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-fixed-top navbar-inverse navbar-collapsable">
                <a class="navbar-brand header-text" href="/">Mukipayz</a>
                <span class="fa fa-bars menu-icon pull-right" id="menu-button" aria-hidden="true"></span>
            </div>
        </div>
    </nav>
</nav>
