

            <!DOCTYPE html>
            <html>
            <head>
                <title>
                   Mukipayz
                </title>
                <body>
                    <p> Mukipayz Testing Site </p>
                    <form id="mgform" action="/submit" method="post">
                    <label for="mail">Email</label>
                    <input type="text" name="mail" id="mail" placeholder="Youremail@address.com"></input>
                    <input type="submit" value="Send Invite"></invite>


                    </form>
                </body>
            </html>
