        <!DOCTYPE html>
        <html>
        <head>
            <title>
               Mukipayz
            </title>
            <body>
                <p> Thanks! </p>
            </body>
        </html>
