/* line 1, ../../styles/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../styles/_global.scss */
body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

.mukipayz {
  font-family: 'Dosis', sans-serif;
  font-size: 100px;
  color: #0075E1;
   text-shadow: 2px 2px blue;
}

.p2p {
  font-family: 'Open Sans', sans-serif;
}
.footer{

}

.font1 {
    font-family: 'Dosis', sans-serif;
}
.font2 {
  font-family: 'Dosis', sans-serif;
}
