@import "https://fonts.googleapis.com/css?family=Comfortaa|Lato:300";
/* line 1, ../../styles/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../styles/_global.scss */
body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

/* line 16, ../../styles/main.scss */
.mukipayz {
  font-family: "Comfortaa", cursive;
  font-size: 100px;
  color: #0075E1;
  text-shadow: 2px 2px blue;
}

/* line 23, ../../styles/main.scss */
.p2p {
  font-family: "Lato", sans-serif;
}

/* line 30, ../../styles/main.scss */
.font1 {
  font-family: "Comfortaa", cursive;
}

/* line 33, ../../styles/main.scss */
.font2 {
  font-family: "Lato", sans-serif;
}
