@import "https://fonts.googleapis.com/css?family=Comfortaa|Lato:300";
/* line 1, ../../styles/_global.scss */
* {
  box-sizing: border-box;
}

/* line 5, ../../styles/_global.scss */
body {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  margin: 0;
}

/* carousel height, as percentage of width */
/* line 2, ../../styles/_flickity.scss */
.main-carousel {
  height: 100vh;
}

/* viewport inherit size from carousel */
/* line 8, ../../styles/_flickity.scss */
.main-carousel .flickity-viewport {
  position: absolute;
  width: 100%;
}

/* cell inherit height from carousel */
/* line 14, ../../styles/_flickity.scss */
.carousel-cell {
  height: 100%;
  width: 100vw;
  overflow: scroll;
}
/* line 21, ../../styles/_flickity.scss */
.carousel-cell.img img {
  width: 100vw;
  height: 100%;
}
/* line 25, ../../styles/_flickity.scss */
.carousel-cell .cell-title {
  text-align: center;
}

/* line 31, ../../styles/_flickity.scss */
.flickity-prev-next-button {
  top: 80% !important;
}

/* line 17, ../../styles/main.scss */
.mukipayz {
  font-family: "Comfortaa", cursive;
  font-size: 100px;
  color: #0075E1;
  text-shadow: 2px 2px blue;
}

/* line 24, ../../styles/main.scss */
.p2p {
  font-family: "Lato", sans-serif;
}

/* line 31, ../../styles/main.scss */
.font1 {
  font-family: "Comfortaa", cursive;
}

/* line 34, ../../styles/main.scss */
.font2 {
  font-family: "Lato", sans-serif;
}
