<!DOCTYPE html>
<html>
    <head>
        <%- include('../partials/head') %>
    </head>
    <body class="container error-page">
        <header>
            <%- include('../partials/header') %>
        </header>
        <h1 class="header-font mukipayz error-header">Trouble ahead, trouble behind, trouble finding this page.</h1>
        <a href="/home/" class="btn btn-primary btn-block btn-lg">Leave this brokedown palace</a>
        <img class="image" src="/assets/404_image.jpg" alt="Image Not Found. Wow something is really wrong here..."/>
        <%- include('../partials/footer') %>
        <%- include('../partials/ejsEnd') %>
