<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">

        <form action='/auth/login' method='post'>
            <fieldset class="form-group">
                <label for="pin" class="control-label">Please enter your 4 digit Dwolla Pin</label>
                <input type="number" min="1000" max="9999" name="pin" class="form-control" id="pin" placeholder="4 Digit Dwolla Pin" data-error="Invalid Pin" required>
                <div class="help-block with-errors"></div>
            </fieldset>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
        </form>
        <a href="https://www.dwolla.com/login" target="_blank" class="btn btn-info btn-lg btn-block" type="button">I forgot my Dwolla Pin</a>


<%- include('../partials/ejsEnd') %>
