<!-- this will be where the bills for a specific group go, this can only be viewed by members of the group. and the bills can be clicked on to be brought to a payment page

should be link for users to invite other's via email -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/navbar %>
    </header>
    <main>
        <h1 class="header-text">Group</h1>
      <% if(data[0]==[]){console.log("woot")} %>
            <% data[0].forEach(function(group) { %>
              <% console.log(group); %>
                <ul>
                    <li>
                        <h1>
                            <a href="./<%= group.group_id %>/bills/<%= group.id %>"><%= group.title %></h1>
                        </a>
                    </li>
                </div>
            </ul>
        <% }); %>

    <a href="./<%= data[0][0].group_id %>/bills/new"> add bill </a>

    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
