<!-- this will be where the bills for a specific group go, this can only be viewed by members of the group. and the bills can be clicked on to be brought to a payment page

should be link for users to invite other's via email -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>

        <% bills.forEach(function(bills) { %>
            <ul>
                <li>
                    <h1><a href="/groups/:id/bills/:id"><%= bills.title %></h1></a>
                </li>
            </ul>
        <% }); %>


                <div class="row">
                    <div class="col-xs-3"></div>
                    <div class="col-xs-6">
                        <div class="jumbotron">
                            <h1>Bill Name Goes Here Dynamically</h1>
                        </div>
                        <div class="jumbotron">
                            <h1>Bill Data Goes Here (Image, date, amount, etc.)</h1>
                        </div>
                    </div>

                </div>


    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
