<!DOCTYPE html>
<html>
<head>
  <title>Authenticated</title>
</head>
<body>
  <% if(err){ %>
    <p><%= err %>
  <% } else { %>
    <p> <%= username %> has been authenticated with password <%= password %> <p>
  <% } %>

</body>
</html>
