<!-- this is the home page the user is taken once they successfully login -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">
    <header>
        <% include ../partials/navbar %>
    </header>

    <h2>Welcome <%= user.first_name %>!</h2>
    <div class="main-carousel">
        <%# Bill Details%>
        <div class="carousel-cell groups">
            <h1 class="header-text cell-title">Groups</h1>
            <% groups.forEach(function(group) { %>
                <ul>
                    <li>
                        <h1><a href="/home/group/<%= group.id %>"><%= group.group_name %></h1></a>
                    </li>
                </ul>
            <% }); %>
        </div>
        <%# Bill Image%>
        <div class="carousel-cell img">
            <h1 class="header-text cell-title">Options</h1>
            <div class="col-md-12">
                <a href="/home/group/new" class="btn btn-primary btn-block">I Want to Start a New Group</a>
            </div>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
    </footer>

    <%- include('../partials/flickity/scripts') %>

</body>

</html>
