<%# <!DOCTYPE html>
<html>

<head>
    <title>
      Mukipayz
    </title>
</head>

<body>
    <header>

      <h1>Mukipayz</h1>
      <h3>A Peer to Peer Payment Sharing Program</h3>
    </header>%>
  <%- include('../partials/header') %>

    <div>
        <input type="button" onclick="location.href='#USERLOGIN';" value="----   Existing User Log In   ----" />
    </div>
    <section>
        <div></div>
        <h2>Who We Are and What We do</h2>
        <p>Who we are...</p>
        <input type="button" onclick="location.href='#NEWUSER';" value="----   Join the Mukipayz Community   ----" />
        </div>
        <div>
            <h2>Security Is Important to You, We Feel the Same</h2>
            <p>When chosing who to partner with to conduct peer to peer transactions we </p>
        </div>
    </section>

    <%- include('../partials/footer') %>
