<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <section>
      <div class="row">
        <div class="col-xs-4">

        </div>

        <div class="col-xs-4">
          <div class="jumbotron">
            <form action="/login">
              <input type="submit" value="Already a User? Click Here to Login In">
            </form>
          </div>
        </div>
      </div>
      </section>

      <section>
        <div class="row">
          <div class="jumbotron">
            <div class="do">
              <h3>What Can Mukipayz Do For You</h3>
              <p>Are you tired of asking the waitress to split the bill three ways, or paying the electric bill month after month? Mukipayz makes it easy and convient to split expenses amongst groups of any size. Want to make living with roommates easier? Use mukipayz to create a group, consisting of you an your roomies. Every time a bill comes, snap a photo of the bill and post it to your group. Your roommates can then pay their share of the bill to you directly on Mukipayz using Dwolla. Are you taking an epic road trip this summer? Use Mukipayz to make cost sharing amongst your peers easier than ever.</p>
              <ul>
                <li>Upload photos of bills and recipets</li>
                <li>You create the groups</li>
                <li>Anyone can use Mukipayz</li>
                <li>'Mukipayz is the App that Keeps Track'</li>
              </ul>
            </div>
            </div>
            <div class="jumbotron">
              <div class="security">
                <h3>Feel Secure, We Do, We Use Dwolla</h3>
                <h5>A Word From Dwolla</h5>
                <ul>
                <titel>We built our platform with security in mind</titel>
                <li>"Our platform puts you in control of your information.</li>
                <li>Transactions do not pass sensitive financial information to recipients, removing significant information security risk.</li>
                <li>We utilize tokenization that replaces high-value data in a financial transaction with a time-based, tokenized message.</li>
                <li>Our platform and systems are monitored and undergo routine penetration and intrusion testing to protect our community.</li>
                <li>We offer two-factor authentication, an optional feature that helps safeguard your account at login."</li>
                </ul>

              </div>
            </div>

          </div>

        </div>
      </section>
      <section>
      <div class="row">
        <div class="col-xs-4">

        </div>

        <div class="col-xs-4">
          <div class="jumbotron">
            <form action="/signUp">
              <br>Make splitting expesnses easier and
              <input type="submit" value="Join Mukipayz">
            </form>
          </div>
        </div>
      </div>
      </section>



    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>




<!-- <body>
    <header class="header">

      <h1>Mukipayz</h1>
      <h3>A Peer to Peer Payment Sharing Program</h3>
    </header>%>
  <%- include('../partials/header') %>
    <img src="../partials/muki" alt="logo">
    <div>
        <input type="button" onclick="location.href='#USERLOGIN';" value="----   Existing User Log In   ----" />
    </div>
    <section>
        <div></div>
        <h2>Who We Are and What We do</h2>
        <p>Who we are...</p>
        <input type="button" onclick="location.href='#NEWUSER';" value="----   Join the Mukipayz Community   ----" />
        </div>
        <div>
            <h2>Security Is Important to You, We Feel the Same</h2>
            <p>When chosing who to partner with to conduct peer to peer transactions we </p>
        </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <%- include('../partials/footer') %> -->
