<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
      <div class="row">
        <div class="col-xs-4">

        </div>

        <div class="col-xs-4">
          <div class="jumbotron">
            <form action="/login">
              <input type="submit" value="Already a User? Click Here to Login In">
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>




<!-- <body>
    <header class="header">

      <h1>Mukipayz</h1>
      <h3>A Peer to Peer Payment Sharing Program</h3>
    </header>%>
  <%- include('../partials/header') %>
    <img src="../partials/muki" alt="logo">
    <div>
        <input type="button" onclick="location.href='#USERLOGIN';" value="----   Existing User Log In   ----" />
    </div>
    <section>
        <div></div>
        <h2>Who We Are and What We do</h2>
        <p>Who we are...</p>
        <input type="button" onclick="location.href='#NEWUSER';" value="----   Join the Mukipayz Community   ----" />
        </div>
        <div>
            <h2>Security Is Important to You, We Feel the Same</h2>
            <p>When chosing who to partner with to conduct peer to peer transactions we </p>
        </div>
    </section>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

    <%- include('../partials/footer') %> -->
