<!DOCTYPE html>
<html>

<head>
    <title>
      Mukipayz
    </title>
    <!-- <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->

    <!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
</head>

<body>
    <header class="page-header">
        <h1 class="font1">Mukipayz</h1>
        <h3>A Peer to Peer Payment Sharing Program</h3>
    </header>
    <div>
        <input type="button" onclick="location.href='#USERLOGIN';" value="----   Existing User Log In   ----" />
    </div>
    <section>
        <div></div>
        <h2>Who We Are and What We do</h2>
        <p>Who we are...</p>
        <input type="button" onclick="location.href='#NEWUSER';" value="----   Join the Mukipayz Community   ----" />
        </div>
        <div>
            <h2>Security Is Important to You, We Feel the Same</h2>
            <p>When chosing who to partner with to conduct peer to peer transactions we </p>
        </div>
    </section>
    <footer>
      <a href="https://github.com/mukipuz/mukipayz">GitHub</a>
      <a href="https://www.dwolla.com/">Dwolla</a>
    </footer>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script   src="https://code.jquery.com/jquery-3.0.0.min.js"   integrity="sha256-JmvOoLtYsmqlsWxa7mDSLMwa6dZ9rrIdtrrVYRnDRH0="   crossorigin="anonymous"></script>
</body>

</html>
