                <form action='^^^^^^^^NEW GROUP^^^^^^^' method='post'>
                    <fieldset class="form-group">
                        <label for="emailInvite">Email Address of Invitee</label>
                        <input type="text" name="emailInvite" placeholder="Enter Email to Invite" class="form-control" id="emailInvite">
                    </fieldset>
