<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div>
            <h1>Invite Friends to Your Group</h1>
            <form action='^^^^^^^^NEW GROUP^^^^^^^' method='post'>
                <fieldset class="form-group">
                    <label for="groupName">Group Name</label>
                    <input type="text" name="groupName" placeholder="Enter Group Name" class="form-control" id="groupName">
                </fieldset>

            </form>
            <input type="submit" value="Add User" />
        </div>

        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
        <h1><%= ^^^^^GROUP NAME GOES^^^^^^ %></h1>
        <ul>
            <% for(var i=0; i<^^^^input data from form above should populate this^^^^^.length; i++) {%>

                <li style="Invitee [i]:<%=^^^dataFromAbove^^^^[i]%>;">
                    <%= ^^^dataFromAbove^^^^[i] %>
                </li>
                <% } %>

        </ul>
        </div>
        </div>

    </main>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
