<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">

        <form action='/auth/login' method='post'>
              <fieldset class="form-group">
                  <label for="email" class="control-label">Email</label>
                  <input type="email" name="email" class="form-control" id="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
                  <div class="help-block with-errors"></div>
                </fieldset>



                    <fieldset class="form-group">
                        <label for="password ">Password</label>
                        <input type="password" name="password" class="form-control" id="password" placeholder="Enter Password">
                    </fieldset>
                    <input type="submit" value="Log In" />
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
