<!DOCTYPE html>
<html>

<head>
    <title>
      Mukipayz
    </title>
</head>

<body>
    <header>
        <h1>Mukipayz</h1>
        <h3>A Peer to Peer Payment Sharing Program</h3>
    </header>
  

    <footer>
      <a href="https://github.com/mukipuz/mukipayz">GitHub</a>
      <a href="https://www.dwolla.com/">Dwolla</a>
    </footer>
</body>

</html>
