
<!DOCTYPE html>
<html>

<head>
    <title>
      Mukipayz
    </title>
</head>

<body>
    <header>
        <h1>Mukipayz</h1>
        <h3>A Peer to Peer Payment Sharing Program</h3>
    </header>


    <footer>
      <a href="https://github.com/mukipuz/mukipayz">GitHub</a>
      <a href="https://www.dwolla.com/">Dwolla</a>
    </footer>
</body>

</html>

<%# this is very poorly done but I wanted to see some of the routes
I was making so I just made VERY basic. Sorry for taking some of
your job. Please redue any/all of this without feeling bad%>

<%- include('../partials/header') %>


<form action='/login' method='post'>
  <input type="text" id="username" name="email" placeholder="E-mail"/>

  <input type="text" id="password" name="password" placeholder="Password"/>
  <input type="submit" value="Check User Password"/>
</form>



</body>


<%- include('../partials/footer') %>
