<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <div>
                <form action='/login' method='post'>
                    <fieldset class="form-group">
                        <label for="userName">Username</label>
                        <input type="text" name="userName" class="form-control" id="password" " placeholder="Enter Password " value="Enter Username ">
                    </fieldset>

                    <fieldset class="form-group ">
                        <label for="exampleInputPassword1 ">Password</label>
                        <input type="password " name="password " class="form-control " id="password "" placeholder="Enter Password" value="Check User Password">
                    </fieldset>
                    <input type="submit" value="Log In" />
                </form>
            </div>
        </div>
    </div>

    <%- include('../partials/footer') %>
