<%# this is very poorly done but I wanted to see some of the routes
I was making so I just made VERY basic. Sorry for taking some of
your job. Please redue any/all of this without feeling bad%>

<%- include('../partials/header') %>

<body>
<form action='/login' method='post'>
  <label for="username">F. name:</label>
  <input type="text" id="username" name="first_name"/>
  <form action='/login' method='post'>
    <label for="username">Last Name :</label>
    <input type="text"  name="last_name"/>
    <form action='/login' method='post'>
      <label for="username">e-mail:</label>
      <input type="text"  name="email"/>

  <label for="username">Password:</label>
  <input type="text" id="password" name="password"/>
  <input type="submit" value="Add User"/>
</form>

<%- include('../partials/footer') %>
