<!-- this is where a user is brought when they click on the new group button, information captured will be group name...etc -->

<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>
        <div>
            <h1>Create New Group</h1>
            <form action='^^^^^^^^NEW GROUP^^^^^^^' method='post'>
                <fieldset class="form-group">
                    <label for="groupName">Group Name</label>
                    <input type="text" name="groupName" placeholder="Enter Group Name" class="form-control" id="groupName">
                </fieldset>
                <!-- ^^^^^^^^^^^^^^^^^^Invite Users Goes Here But How Will We Do It^^^^^^^^^^^^^^^^^^ -->
                <!-- Need to make this dynamic so that the user can enter as many or as few invitees -->

                    <fieldset class="form-group">
                        <label for="emailInvite">Email Address of Invitee</label>
                        <input type="text" name="emailInvite" placeholder="Enter Email to Invite" class="form-control" id="emailInvite">
                    </fieldset>
              </form>
                <input type="submit" value="Add User" />
        </div>

    </main>


    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>
