<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">
        <header>
            <% include ../partials/navbar %>
        </header>
        <header>
            <% include ../partials/header %>
        </header>

        <main>
            <div class="jumbotron">
                <div class="jumbotron">
                    <h1><%= result.message %></h1>
                    <a href="/home/group/<%= result.origin_group%>/bills/<%=result.origin_bill%>" class="btn btn-info btn-block" type="submit">Return to Bill</a>
                </div>
            </div>
        </main>

        <%- include('../partials/ejsEnd') %>
