<!-- page to make payments for bills via Dwolla -->
<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
You are here
    </main>


    <%- include('../partials/footer') %>
