<!-- page to make payments for bills via Dwolla -->
<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/navbar %>
    </header>

    <main>
        <div class="row">
            <h1 class="text-center font1">Make A Payment</h1>
            <div class="col-md-3"></div>

            <div class="col-md-6">
                <div class="jumbotron">

                    <h3 class="text-center font2">Payment For: <%= ENTER_BILL_TITLE_HERE =></h3>
                    <ul class="list-unstyled">
                        <li class="text-center font2">Amount Owed:
                            <%= ENTER_AMOUNT_OWED %>
                        </li>
                        <li class="text-center font2">From Group:
                            <%= ENTER_GROUP_NAME %>
                        </li>
                        <li class="text-center font2">Any other data, maybe who has already paid on this bill</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row"></div>
        <!-- case for xs versus md -->
        <div class="col-xs-5"></div>
        <div class="col-xs-2">
            <form action="/TAKE ME TO DWOLLA">
                <input type="submit" value="Pay With Dwolla">
            </form>

        </div>
        </div>
    </main>


    <%- include('../partials/footer') %>
