<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="row">

        <div class="col-md-12">

            <h4 class="text-center">Let's Get You Enrolled for a Free Account</h4>

            <form action='/auth/signup' method='post' data-toggle="validator" >


              <fieldset class="form-group has-success has-feedback">
                <label for="firstName" class="control-label">First Name</label>
                <input name="first_name" type="text" class="form-control" id="firstName" placeholder="Casey" aria-describedby="firstName" required>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="firstName" class="sr-only">(success)</span>
              </fieldset>
              <div class="form-group has-error has-feedback">
              <label class="control-label" for="inputError2">Input with error</label>
              <input type="text" class="form-control" id="inputError2" aria-describedby="inputError2Status">
              <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
              <span id="inputError2Status" class="sr-only">(error)</span>
              </div>
              <!-- <fieldset class="form-group">
                <label for="firstName" class="control-label">First Name</label>
                <input name="first_name" type="text" class="form-control" id="firstName" placeholder="Casey" required>
              </fieldset> -->
              <fieldset class="form-group has-success has-feedback">
                <label for="lastName" class="control-label">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="lastName" placeholder="Jones" aria-describedby="lastName" required>
                <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
                <span id="lastName" class="sr-only">(success)</span>
              </fieldset>
              <!-- <fieldset class="form-group">
                <label for="lastName" class="control-label">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="lastName" placeholder="Jones" required>
              </fieldset> -->
              <fieldset class="form-group has-success has-feedback">
              <label for="email" class="control-label">Email</label>
              <input type="email" class="form-control" id="email" placeholder="wharf_rat@gmail.com" data-error="That email address is invalid" aria-describedby="email" required>
              <span class="glyphicon glyphicon-ok form-control-feedback" aria-hidden="true"></span>
              <span id="email" class="sr-only">(success)</span>
              </fieldset>
              <!-- <fieldset class="form-group has-warning">
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="wharf_rat@gmail.com" data-error="That email address is invalid" required>
                <div class="help-block with-errors"></div>
              </fieldset> -->

                <fieldset class="form-group has-warning">
                  <input type="email" class="form-control" name="email" id="email" data-match="email" data-match-error="Whoops, these don't match" placeholder="Confirm your email" required>
                  <div class="help-block with-errors"></div>
                </fieldset>

                <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <div class="form-group">
                  <input type="password" name="password" data-minlength="6" data-error="Your password is not at least 6 characters long"  class="form-control" id="password" placeholder="Enter Password" required>
                  <div class="help-block">Minimum of 6 characters</div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="inputPasswordConfirm" data-match="password" data-match-error="Whoops, these don't match" placeholder="Confirm Password" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <button class="btn btn-primary btn-block btn-lg" type="submit">Sign me up!</button>

              </div>
            </form>
        </div>


        <hr>
    <div class="row">
        <div class="col-md-12">
            <label for="">Already a user?</label>
            <a href="/auth/login" class="btn btn-info btn-block btn-lg">Log me in please!</a>
        </div>
    </div>
    <%- include('../partials/footer') %>
    <%- include('../partials/ejsEnd') %>
