<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <div class="row">
        <div class="col-xs-3"></div>
        <div class="col-xs-6">
            <h4 class="text-center">Let's Get You Enrolled for a Free Account</h4>
            <form action='/auth/signup' method='post' data-toggle="validator" role="form">
              <fieldset class="form-group">
                <label for="firstName" class="control-label">First Name</label>
                <input name="first_name" type="text" class="form-control" id="firstName" placeholder="Enter First Name" required>
              </fieldset>

              <fieldset class="form-group">
                <label for="lastName" class="control-label">Last Name</label>
                <input name="last_name" type="text" class="form-control" id="lasttName" placeholder="Enter Last Name" required>
              </fieldset>

              <fieldset class="form-group">
                <label for="email" class="control-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="Email" data-error="Bruh, that email address is invalid" required>
                <div class="help-block with-errors"></div>
              </fieldset>

                <fieldset class="form-group">
                  <input type="email" class="form-control" id="password" data-match="email" data-match-error="Whoops, these don't match" placeholder="Confirm Email" required>
                  <div class="help-block with-errors"></div>
                </fieldset>

                <div class="form-group">
                <label for="password" class="control-label">Password</label>
                <div class="form-group">
                  <input type="password" data-minlength="6" class="form-control" id="password" placeholder="Enter Password" required>
                  <div class="help-block">Minimum of 6 characters</div>
                </div>
                <div class="form-group">
                  <input type="password" class="form-control" id="inputPasswordConfirm" data-match="password" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                  <div class="help-block with-errors"></div>
                </div>
              </div>
              <input type="submit" value="Add User" />
            </form>
              </div>
        </div>


    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-4">
            <div class="jumbotron">
                <form action="/login">
                    <input type="submit" value="Oops, I am aready a user, can I log in please?">
                </form>
            </div>
        </div>
    </div>
    <%- include('../partials/footer') %>
