<!DOCTYPE html>
<html lang="en">

    <head>
        <% include ../partials/head %>
    </head>

    <body class="container">

        <header>
            <% include ../partials/header %>
        </header>

        <div class="row">

            <div class="col-md-12">

                <h4 class="text-center">Let's Get You Enrolled for a Free Account</h4>

                <form action="/auth/signup" onsubmit="return isSix(password)" method="post" data-toggle="validator" role="form">

                    <fieldset class="form-group">
                        <label for="firstName" class="control-label">First Name</label>
                        <input name="first_name" type="text" class="form-control" id="firstName" placeholder="Casey" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="lastName" class="control-label">Last Name</label>
                        <input name="last_name" type="text" class="form-control" id="lastName" placeholder="Jones" required>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="email" class="control-label">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="wharf_rat@gmail.com" data-error="That email address is invalid" required>
                        <div class="help-block with-errors"></div>
                    </fieldset>

                    <fieldset class="form-group">
                        <input type="email" class="form-control" name="email" id="email_confirm" data-match="#email" data-match-error="Whoops, these don't match" placeholder="Confirm your email" required>
                        <div class="help-block with-errors"></div>
                    </fieldset>

                    <fieldset class="form-group">
                        <label for="password" class="control-label">Password</label>
                        <input type="password" name="password" data-minlength="6" data-error="Your password is not at least 6 characters long" class="form-control" id="password" placeholder="Enter Password" required>
                        <div class="help-block with-errors"></div>

                        <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#password" data-match-error="Whoops, these don't match" placeholder="Confirm Password" required>
                        <div class="help-block with-errors"></div>
                    </fieldset>

                    <div class="form-group">
                        <button class="btn btn-primary btn-block btn-lg" type="submit">Sign me up!</button>
                    </div>

                </form>
            </div>

            <hr>
            <div class="row">
                <div class="col-md-12">
                    <label for="">Already a user?</label>
                    <a href="/auth/login" class="btn btn-info btn-block btn-lg">Log me in please!</a>
                </div>
            </div>
            <%- include('../partials/footer') %>
            <%- include('../partials/ejsEnd') %>
