


.cell-list-block {
    list-style: none;
    padding: 5%;
}

.cell-list-item {
    width: 100%;
    height: 150px;
    background: rgb(238, 238, 238);
    margin-top: 10px;
    border-radius: 3px;
}


.messages-box {
    .message {
        height: auto;
        border: solid 1px;
        margin-top: 20px;
        border-radius: 7px;
        padding: 10px;
        display: inline-block;
        font-size: 18px;
        border: solid 0px;
        width: 85%;
        &.green {
            background: rgba(53, 188, 59, 0.39);
            float: right;
        }
        &.blue {
            background: rgba(52, 98, 187, 0.39);
            float: left;
        }
        &.green::before {
            border-width: 20px 0 0px 30px;
            content: "";
            position: absolute;
            bottom: -12px;
            border-style: solid;
            display: block;
            width: 0;
            right: 10px;
            border-width: 12px 0 0 30px;
            border-color: rgba(53, 188, 59, 0.39) transparent;
        }
        &.blue::before {
            content: "";
            position: absolute;
            bottom: -12px;
            border-style: solid;
            display: block;
            width: 0;
            border-color: rgba(15, 75, 190, 0.39) transparent;
            left: 10px;
            border-width: 12px 30px 0 0;
        }
        .message-content {
            height: auto;
        }
        .sub-content {
            font-style: italic;
            font-size: 12px;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}
