@import "media-query";

@btn-primary: darken(#428bca, 6.5%); // #337ab7
@btn-success: darken(#5cb85c, 20%);
@btn-info:    #5bc0de;
@btn-warning: #f0ad4e;
@btn-danger:  #d9534f;

* {
	box-sizing: border-box;
}

body {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
    margin: 0;
	font-size: 16px;
}

.header-text.mukipayz {
	@include mobile {
		font-size: 4em !important;
	}
	@include tablet {
		font-size: 5.5em !important;
	}
	@include desktop {
		font-size: 7em !important;
	}
}

.footer {
	margin-top: 20px;
	text-align: center;
	.footer-item {
		@include mobile {
			margin-right: 8px;
		}
		@include tablet {
			margin-right: 12px;
		}
		@include desktop {
			margin-right: 15px;
		}
	}
}
